<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :surname %><br />
  <%= f.text_field :surname %>
</div>
<div class="field">
  <%= f.label :street %><br />
  <%= f.text_field :street %>
</div>
<div class="field">
  <%= f.label :streetnumber %><br />
  <%= f.text_field :streetnumber %>
</div>
<div class="field">
  <%= f.label :zipcode %><br />
  <%= f.text_field :zipcode %>
</div>
<div class="field">
  <%= f.label :town %><br />
  <%= f.text_field :town %>
</div>
<div class="field">
  <%= f.label :link %><br />
  <%= f.text_field :link %>
</div>